/* whole page */
h1{
    font-weight: bold !important;
}
p{
    line-height: 2rem;
    font-size: 1.08rem;
}

/* sirla_info */
#sirla_info{
    border-radius: 0px;
    height: 100%;
}
.lead{
    font-size: 1.4rem;
}
.sirla_ch{
    font-size: 1.9rem;
}
#sirla_info_conten{
    margin: auto;
}
#sirla_info_logo{
    margin-bottom: 15px;
    margin-top: 30px;
    width: 55%;
    max-width: 330px;
}
#sirla_info_hr{
    border-top: 1px solid;
    max-width: 800px;
}
@media(max-width:600px){
    #sirla_info_logo{
        margin-bottom: 0;
    }
}
/* who we are */


/* motivation */
#motivation{
    padding: 0px;
    background-image: url("../pictures/background/brick_wall_logo.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.white_background{
    background-color: rgb(241, 254, 198, 0.75);
}
@media(max-width:900px){
    .white_background{
        padding: 2rem 3rem;
    }
}

/* learn */
.learn-title{
    font-size: 2rem;
}