/* sirla_info */
#sirla_info{
    background: linear-gradient(270deg, rgba(255, 254, 255, 1)35%, rgba(132, 157, 214, 0.8)70%); 
    background: -moz-linear-gradient(270deg, rgba(255, 254, 255, 1)35%, rgba(132, 157, 214, 0.8)70%); 
    background: -webkit-linear-gradient(270deg, rgba(255, 254, 255, 1)35%, rgba(132, 157, 214, 0.8)70%); 
    background: -o-linear-gradient(270deg, rgba(255, 254, 255, 1)35%, rgba(132, 157, 214, 0.8)70%); 
    color: #000000;
    border-radius: 0px;
    height: 100%;
}
.lead{
    font-size: 1.4rem;
}
.sirla_ch{
    font-size: 1.9rem;
}
#sirla_info_conten{
    margin: auto;
}
#sirla_info_logo{
    margin-bottom: 50px;
    max-width: 60%;
}

/* who we are */
#who_we_are{
    padding: 2rem 13rem;
    background-color: #b6d6cc;
}
@media(max-width:900px){
    #who_we_are{
        padding: 2rem 3rem;
    }
}

/* motivation */
#motivation{
    padding: 0px;
    background-image: url("../pictures/background/brick_wall_logo.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.white_background{
    background-color: rgb(241, 254, 198, 0.70);
    padding: 2rem 13rem;
}
@media(max-width:900px){
    #motivation{
        background-size: 140%;
    }
    .white_background{
    padding: 2rem 3rem;
}
}

/* learn */
#learn{
    padding: 2rem 13rem;
    background-color: #b6d6cc;
}
@media(max-width:900px){
    #learn{
        padding: 2rem 3rem;
    }
}
.learn-title{
    font-size: 2rem;
}