/* global */
html,body{
    height: 100%;
    margin: 0;
}
/* 更改中文字體 */
body,input,button,select,textarea{
    font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "微软雅黑", sans-serif !important;
    font-size:108%;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "微软雅黑", sans-serif !important;  
}

/*navbar*/
.logo_img_navbar{
    width: 120px;
}
.navbar{
    padding-left: 2rem !important;
    background-color:rgba(132, 157, 214);
}
.navbar-nav .nav-link{
    color: #f1fec6 !important;
}
.navbar-brand{
    padding: 0px !important;
}
/* footer style */
.footer{
    height: 50px;
    width: 100%;
    background-color: #5f616d;
    padding-top: 10px;
}
.footer_text{
    font-size: 0.9rem;
    color: #ffffff;
    margin: 0px;
}

/* -------------------------content-------------------- */
.content{
    padding: 0px !important;
}

.jumbotron{
    margin: 0px !important;
}
/*--------------------------------------------------------*/